---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Formamos Entrenadores con herramientas reales" } = Astro.props;
const ogImageURL = new URL("originalSTP.png", Astro.site).href;
const canonicalURL = new URL(Astro.url).href;
---

<html lang="es" class="h-full w-full">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icono.png"media="(prefers-color-scheme: light)" />
    <link rel="icon" type="image/svg+xml" href="/stpIconoBlanco.png"media="(prefers-color-scheme: dark)" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="twitter:image" content={ogImageURL} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
  </head>
  <body class="flex flex-col h-full w-full text-primary scroll-smooth">
    <slot />
    <script defer src="/_vercel/insights/script.js"></script>
  </body>
</html>
